<mat-card>
  <mat-card-title>Excluir Número</mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Nome"
              [value]="delPerson.name" name="name" disabled>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Número"
              [value]="delPerson.phoneNumber" name="phoneNumber" disabled>
      </mat-form-field>
  </form>
  <button mat-raised-button (click)="deletePerson()" color="warn">
      Excluir
  </button>
  
  <button mat-raised-button (click)="cancel()">
      Cancelar
  </button>
</mat-card>
