<form>
  <div class="form-wrapper">
    <mat-form-field class="form" appearance="fill">
      <mat-label>Nome</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="person.name"
        name="name"
        placeholder="Ex. Bruno Silva"
        required
      />
      <button
        *ngIf="person.name"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearName()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        <strong>Obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form" appearance="fill">
      <mat-label>Número de Telefone</mat-label>
      <input
        type="tel"
        ng-pattern="^1\d\d(\d\d)?$|^0800 ?\d{3} ?\d{4}$|^(\(0?([1-9a-zA-Z][0-9a-zA-Z])?[1-9]\d\) ?|0?([1-9a-zA-Z][0-9a-zA-Z])?[1-9]\d[ .-]?)?(9|9[ .-])?[2-9]\d{3}[ .-]?\d{4}$"
        matInput
        [(ngModel)]="person.phoneNumber"
        name="phoneNumber"
        placeholder="(xx) 9 xxxx-xxxx"
        required
        style="text-decoration: none"
      />
      <button
        *ngIf="person.phoneNumber"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearPhone()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="phoneFormControl.hasError('required')">
        <strong>Obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <div class="form__buttons">
      <button mat-raised-button color="primary" (click)="createPerson()">
        Salvar
      </button>
    </div>
  </div>
  
</form>
